body {
    background-color: salmon;
}
.big-green-heading {
    background-color: chartreuse;
    color: burlywood;
    font-size: 72px;
}
ul {
    background-color: tomato;
    color: silver;
}
.font-forestgreen {
    color: forestgreen;
}

#amazing {
    border: 5px solid fuchsia;
    border-radius: 100%;
    display: block;
}